@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("static/cristian-palmer-XexawgzYOBc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Noto Sans JP", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

header h1 {
    color: seashell;
    text-shadow: 0 0 5px rgb(14, 72, 105);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 400;
    font-style: oblique;
    padding: 0;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    -webkit-animation: typing 4s steps(30, end);
    -moz-animation: typing 3.5s steps(30, end);
    -ms-animation: typing 3.5s steps(30, end);
    -o-animation: typing 3.5s steps(30, end);
    animation: typing 4s steps(30, end);
}

.bubbles {
    display: flex;
    margin: 0;
    padding: 0;
    outline: 1px solid transparent;
}

.bubbles button,
.more-bubbles button {
    height: 10em;
    width: 10em;
    background: transparent;
    border-radius: 50%;
    border: none;
    box-shadow: 
        inset 5px 10px 30px 0.5px rgba(169, 215, 241, 0.5),
        5px 10px 30px 3px rgba(19, 19, 49, 0.5);
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-animation: bubbles-motion 10s linear infinite;
    -moz-animation: bubbles-motion 10s linear infinite;
    -ms-animation: bubbles-motion 10s linear infinite;
    -o-animation: bubbles-motion 10s linear infinite;
    animation: bubbles-motion 10s linear infinite;
 }

 #b1 {
    margin: 37vh 8vw 0 5vw;
 }

 #b2 {
     margin: 32vh 7vw 0 17vw;
 }

 #b3 {
     margin: 38vh 5vw 0 23vw;
 }

 #b4 {
     margin: 0 0 0 20vw;
 }

 #b5 {
     margin: 0 0 0 30vw;  
 }

 #b1 button {
    color: rgb(222, 252, 189);
    text-shadow: 1px 1px 1px rgb(8, 14, 104);
 }

 #b2 button {
    text-shadow: 1px 1px 1px rgb(8, 14, 104);
    color: aliceblue;
 }

 #b3 button {
    color:rgb(252, 236, 216);
    text-shadow: 1px 1px 1px rgb(8, 14, 104);
 }

 #b4 button {
    color: rgb(109, 233, 250);
    text-shadow: 1px 1px 1px rgb(8, 14, 104);
 }

 #b5 button {
    color: rgb(217, 216, 252);
    text-shadow: 1px 1px 1px rgb(8, 14, 104);
 }

.hov button:hover {
    animation: none;
    height: 12em;
    width: 12em;
}

#b1 button:hover {
    text-shadow: 0 0 1px rgb(222, 252, 189);
    box-shadow: 0 0 30px 3px rgb(222, 252, 189);
}

#b2 button:hover {
    text-shadow: 1px 1px 1px black;
    box-shadow: 0 0 30px 3px aliceblue;
}

#b3 button:hover {
    text-shadow: 0 0 1px rgb(252, 236, 216);
    box-shadow: 0 0 30px 3px rgb(222, 252, 189);
}

#b4 button:hover {
    text-shadow: 0 0 1px rgb(109, 233, 250);
    box-shadow: 0 0 30px 3px rgb(109, 233, 250);
}

#b5 button:hover {
    text-shadow: 0 0 1px rgb(217, 216, 252);
    box-shadow: 0 0 30px 3px rgb(217, 216, 252);
}

@-webkit-keyframes bubbles-motion {
    0% {
        height: 10em;
        width: 10em;
    }

    12.5% {
        height: 10.25em;
        width: 10.25em;
    }

    25% {
        height: 10.5em;
        width: 10.5em;
    }

    50% {
        height: 11em;
        width: 11em;
    }

    75% {
        height: 10.5em;
        width: 10.5em;
    }

    87.5% {
        height: 10.25em;
        width: 10.25em;
    }

    100% {
        height: 10em;
        width: 10em;
    }
}

@keyframes bubbles-motion {
    0% {
        height: 10em;
        width: 10em;
    }

    12.5% {
        height: 10.25em;
        width: 10.25em;
    }

    25% {
        height: 10.5em;
        width: 10.5em;
    }

    50% {
        height: 11em;
        width: 11em;
    }

    75% {
        height: 10.5em;
        width: 10.5em;
    }

    87.5% {
        height: 10.25em;
        width: 10.25em;
    }

    100% {
        height: 10em;
        width: 10em;
    }
}

@-webkit-keyframes typing {
    from { width: 0}
    to { width: 100% }
}

@keyframes typing {
    from { width: 0}
    to { width: 100% }
}